h2 {
    font-size: 24px;
}

.add-product-page {
    padding: 20px;
    width: 75vw;
    margin: 0 auto;
  }
  
/* Layout container to arrange left and right sections */
.layout-container-creation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;  /* Ensures both sections take the same height */
}

/* Left section should take more space */
.left-section-creation {
    flex: 2; /* Occupy twice the space as the right section */
    margin-right: 20px; /* Add some space between the sections */
}

/* Right section, where project details and assessment details stack vertically */
.right-section-creation {
    flex: 1; /* Occupy less space than the left section */
    display: flex;
    flex-direction: column; /* Stack vertically */
}

/* Section containers */
.section-container {
    flex: 1;
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.25rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font: inherit;
    box-sizing: border-box;
}

.form-group textarea {
    height: 160px;
    resize: vertical;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-row .form-group {
    flex: 1;
    margin-right: 15px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.btn-container-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-button {
    background-color: #d1c4e9;
    color: #22005e;
    border: none;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;  /* Align icon and text */
    gap: 10px;  /* Space between icon and text */
    align-items: center;  /* Vertically align icon and text */
    justify-content: center;  /* Center both icon and text */
}

.init-product-button, .save-changes-button, .cancel-edit-button {
    background-color: #d1c4e9;
    color: #22005e;
    border: none;
    height: 60px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;  /* Align icon and text */
    gap: 20px;  /* Space between icon and text */
    align-items: center;  /* Vertically align icon and text */
    justify-content: center;  /* Center both icon and text */
}

.save-changes-button, .cancel-edit-button {
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
}

.cancel-edit-button {
    background-color: #eee;
}

.cancel-edit-button:hover {
    background-color: #d1c4e9;
}


.submit-button:hover, .init-product-button:hover, .save-changes-button:hover {
    background-color: #b39ddb;
}

/* Hide the original file input */
#file-upload {
    display: none;
}

/* Style the custom file upload button */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #d1c4e9;  /* Custom background color */
    color: #ffffff;  /* Button text color */
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #b39ddb;  /* Background color on hover */
}

.custom-file-upload svg {
    margin-right: 8px;  /* Space between the upload icon and text */
}

/* Style the file name */
.file-name {
    font-size: 0.9rem;
    color: #757575;  /* Gray color for the file name text */
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: large;
    text-align: end;
  }

  /* Highlight inputs with missing values */
.input-error {
    border: 2px solid rgb(255, 0, 0) !important;
  }

.risk-level {
    font-size: large;
}

.risk-level-display {
    background-color: #ffffff;
    padding: 10px;
    height: 50px;
    border: 3px solid #d1c4e9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;    /* Ensure padding is included in the size */
  }

.risk-level-display p {
    text-align: center;
    font-size: 20px;
}