.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10vh;
    padding: 20px;
  }

.header button {
    padding: 10px;
    width: 200px;
    background-color: #f3eaff;
    color: rgb(100, 98, 98);
    font-weight: bolder;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for aesthetics */
    border: none;
    border-radius: 5px;
}

.search-bar-container {
  position: relative; /* Allow positioning of the icon inside the container */
  display: inline-block;
}

.search-input {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 10px;
    padding: 20px;
    padding-left: 30px;
    border-radius: 30px;
    border: none;
    background-color: #f3eaff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for aesthetics */
    font-weight: bolder;
    font-size: 1rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 400px;  /* Adjust the icon's position */
  transform: translateY(-50%);
  color: #757575;
}

.add-product-button {
    padding: 10px;
    width: 200px;
    height: 50px;
    background-color: #f3eaff;
    color: rgb(100, 98, 98);
    font-weight: bolder;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for aesthetics */
    border: none;
    border-radius: 8px;
}

.add-product-button:hover {
    color: white;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 25px;
}

.add-item-form {
    margin-top: 20px;
    padding: 20px;
}

.add-item-form input,
.add-item-form select {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.add-item-form button {
    padding: 10px;
    width: 500px;
    background-color: #f3eaff;
    color: rgb(100, 98, 98);
    font-weight: bolder;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for aesthetics */
    border: none;
    border-radius: 5px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
  }

  /* Title container: icon and title side by side */
.title-container-product {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    margin-bottom: 15px;
  }
  
  .title-container-product .icon {
    margin-right: 10px;
    color: #645394;
  }
  
  
  .card h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
  }
  
  .detail {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  span {
    line-height: 1; /* Prevents misalignment due to line-height */
  }

  
  .detail .icon {
    display: flex; /* Ensures the icon is treated as a flex item */
    justify-content: center; /* Centers the icon horizontally */
    align-items: center; /* Centers the icon vertically */
    margin: 0; /* Remove default margin */
  }
  

.prohibited {
    color: rgb(159, 0, 0);
}
  /* Icons for different risk levels */
.high-risk {
  color: orange;
}

.limited-risk {
  color: rgb(255, 204, 0);
}

.low-risk {
  color: green;
}

.n-a {
  color: gray;
}

.in-development {
  color: purple;
}

.testing {
  color: cyan;
}

.deployed {
  color: green;
}

.in-assessment {
  color: lightblue;
}

.assessed {
  color: green;
}

.not-started {
  color: gray;
}