.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .checkbox-item {
    position: relative; /* Needed for positioning the checkbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .checkbox-item span {
    padding-right: 10px; /* Adds spacing between label and checkbox */
  }
  
  .checkbox-item input[type="checkbox"] {
    accent-color: #645394;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
  }