.disclaimer-modal-overlay {
    position: fixed;
    top: 0;
    left: 17vw; /* Adjust the left position based on sidebar width */
    width: 83vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    border-radius: 10px;
    padding: 25px;
    width: 45%;
    height: fit-content;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 5%;
  }

  .modal-header h2 {
    font-size: 1.5rem;
    color: black;
  }
  
  .modal-icon {
    font-size: 50px;
    color: black;
  }
  
  .modal-body {
    margin-bottom: 5%;
    padding: 0 20px;
    text-align: center;
  }

  .modal-body p {
    font-size: 1.2rem;
  }

  .modal-body span {
    font-size: 0.8rem;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
  }
  
  .go-back-button,
  .understand-button {
    width: 25%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .go-back-button {
    background-color: #d1d1d1;
    color: black;
  }

  .go-back-button:hover {
    background-color: #b8b8b8;
  }
  
  .understand-button {
    background-color: #645394;
    color: white;
  }