.tab-system {
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tab-button-2 {
    height: fit-content;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #f3eaff;
    color: #333;
    font-weight: bold;
  }
  
  .tab-button-2.active {
    background-color: #645394;
    color: #fff;
  }

  .tab-button-2:hover {
    background-color: #645394;
    color: #fff;
  }
  
  .active-tab-content {
    padding: 20px;
  }
  
  .task-steps {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }