body {
  overflow-y: auto;
}

.settings-container {
  min-height: 100vh; 
  padding-bottom: 2vw; 
}

.settings-label {
  display: block;
  font-weight: bold;
  font-size: large;
  margin-bottom: 0.5vw;
  }
  
.settings-section {
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-bottom: 1.5vw;
  border-bottom: 1px solid #d3d3d3; 

  &:last-child {
    border-bottom: none; 
  }
}

.settings-content {
  margin-left: 1vw; 
}

.settings-collapsible-container {
  margin-top: 1.2vw;
}

.settings-collapsible-section {
  margin-bottom: 0.5vw;
  border: 0.01vw solid #e0e0e0;
  border-radius: 0.1vw;
  box-shadow: 0vw 0.01vw 0.3vw rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: fit-content;
}

.settings-collapsible-header {
  padding: 0.8vw 1vw;
  font-size: medium;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;

}

.settings-collapsible-header:hover {
  background-color: #f0f0f0;
  color: #5a4b81;
}

.settings-collapsible-content {
  padding: 0.3vw 1vw;
  background-color: #fafafa;
  border-top: 0.01vw solid #e0e0e0;
  border-bottom-left-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
  display: none; /* Hidden by default */
  width: 50vw;
}

.settings-collapsible-content.open {
  display: block; /* Shown when open */
  width: 50vw;
}

.settings-arrow {
  width: 0;
  height: 0;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.35rem solid black;
  transition: transform 0.3s;
}

.settings-arrow.open {
  transform: rotate(180deg);
}

.settings-button-container {
  display: flex;
  justify-content: flex-end; 
}

.settings-input {
  display: block;
  width: 100%;
  padding: 0.8vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.5vw;
  font-size: medium;
  padding-right: 0.1vw;
}

/* Container for the password input and visibility button */
.settings-password-container {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure the container takes up the full width */
}

/* Style for the visibility toggle button */
.settings-toggle-visibility-button {
  margin-left: 0.01vw;  /* Add some space between the input field and the button */
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  color: #7c66a2;
  font-size: large;
}

.toggle-visibility-button:hover {
  background-color: #7c66a2;
  color: #48375c;
}

.settings-cancel-button, .settings-save-button {
  padding: 0.8vw 1.5vw;
  font-size: small;
  border-radius: 0.8vw;
  cursor: pointer;
  border: none;
  width: fit-content;
  justify-content: flex-end; 
  margin-right: 0.8vw;
}

.settings-cancel-button {
  background-color: #fafafa;
  color: #48375c;
}

.settings-cancel-button:hover {
  background-color: #d6d6d6;
}

.settings-save-button {
  background-color: #7c66a2;
  color: white;
}

.settings-save-button:hover {
  background-color: #48375c;
}

.settings-input-group {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  gap: 0.5vw; /* Adds spacing between the input fields */
  height: fit-content;
  width: 30vw;
  margin-bottom: 1vw;
  background-color: #f9f9f9;
}

.settings-dropdown {
  margin-top: 1vw;
  width: fit-content;
  padding: 0.8vw;
  padding-right: 1vw;
  border: 0.01vw solid #e0e0e0;
  border-radius: 0.1vw;
  box-shadow: 0vw 0.01vw 0.3vw rgba(0, 0, 0, 0.1);
  font-size: medium;
}

.settings-checkbox {
  display: flex;
  align-items: center;
  font-size: medium;
}

.settings-checkbox input[type="checkbox"] {
  margin-right: 0.8vw;
}

.updates-button {
  background-color: white;
  color: black;
  width: fit-content;
  padding: 0.8vw;
  margin-top: 0.5vw;
  border: 0.01vw solid #e0e0e0;
  border-radius: 0.1vw;
  box-shadow: 0vw 0.01vw 0.3vw rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: medium;
  font-style: italic;
}

.updates-button:hover {
  background-color: #48375c;
  color: white;
}
