.breadcrumb {
    font-size: 14px;
    font-weight: bolder;
    color: #9A7EBF; /* Light purple color */
    margin-top: 40px;
  }
  
  .breadcrumb-item a {
    text-decoration: none;
    color: #9A7EBF;
    cursor: pointer;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-item {
    display: inline;
  }